:root {
  --primary: #E98842;
  --secondary: #3D55C1;
  --dark: #14192C;
  --light: #F9C784;
}

.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(50%);
}

.text-container {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
}

.text-container h1 {
  font-size: 100px;
  margin-top: -100px;
}

.text-container p {
  margin-top: 8px;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.btn {
  width: 100%;
  }
  
  /* Added CSS for buttons */
  .hero-btns {
  margin-top: 32px;
  }
  
  .btn-cta {
  margin-right: 16px;
  }
  
  .btn-ncta {
  margin-left: 16px;
  }
  
  .btn-login {
  margin-top: 16px;
  }
  
  .btn {
  border-radius: 50px;
  background: var(--primary);
  white-space: nowrap;
  padding: 16px 48px;
  color: #fff;
  font-size: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  }
  
  .btn--outline {
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  }
  
  .btn--primary {
  background: var(--primary);
  color: #fff;
  }
  
  .btn--secondary {
  background: var(--secondary);
  color: #fff;
  }
  
  .btn--large {
  padding: 20px 64px;
  font-size: 32px;
  }
  
  .btn--medium {
  padding: 16px 32px;
  font-size: 24px;
  }
  
  .btn--small {
  padding: 10px 16px;
  font-size: 18px;
  }
  
  .btn:hover {
  transition: all 0.2s ease-in-out;
  background: var(--light);
  color: var(--dark);
  }

@media screen and (max-width: 960px) {
  .text-container h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .text-container h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .text-container p {
    font-size: 30px;
  }

  .btn {
    width: 100%;
  }
}